<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	failOnRisky="true"
	failOnWarning="true"
	>
	<testsuites>
		<testsuite name="plugin-tests">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">./admin</directory>
			<directory suffix=".php">./inc</directory>
			<file>./comment-popularity.php</file>
			<file>./uninstall.php</file>
		</include>
	</coverage>
</phpunit>
